@model cross_site_request_forgery_account_delete.Core.Entity.Account.AccountEntity
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top: 10%;">
    <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-8">

            @if (Model is null)
            {
            }
            else
            {
                <div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" value="@Model.Email">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="Name">Name</label>
                            <input type="text" class="form-control" id="Name" value="@Model.Name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="Lastname">Password</label>
                            <input type="text" class="form-control" id="Lastname" value="@Model.Lastname">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="address">Address</label>
                            <input type="text" class="form-control" id="address" placeholder="1234 Main St" value="@Model.Address">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <!-- Button trigger modal -->

                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                                Account Delete

                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Account Delete</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure to delete Account ?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <form action="/Home/Attack" method="get" enctype="multipart/form-data">
                                                <input id="status" name="status" value="deleted" hidden="hidden"/>
                                                <button type="submit" class="btn btn-danger">Delete Account</button>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            }

        </div>

        <div class="col-md-2"></div>
    </div>

</div>