@model IEnumerable<sql_injection_search.Core.Entity.Account.AccountEntity>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top: 10%;">
    <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-8">

            <div>
                <h2>Users Search</h2>
                <form action="/Home/Attack" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" name="username" class="form-control" id="username">
                    </div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>

            <div>

                <div style="margin-top: 5%">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Surname</th>
                            <th scope="col">Address</th>
                        </tr>
                        </thead>
                        <tbody>

                        @if (Model is not null)
                        {
                            foreach (var profile in Model)
                            {
                                <tr>
                                    <td>@profile.Username</td>
                                    <td>@profile.Email</td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>

                </div>

            </div>


        </div>


        <div class="col-md-2"></div>
    </div>

</div>